@import url("https: //fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #6e6cdf;
  --white-color: #ffffff;
  --black-color: #212121;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: 0.5s;
  overflow-wrap: break-word;
}

html,
body {
  background-color: var(--white-color);
  overflow-x: hidden;
  width: 100dvw;
  height: 100dvh;
  color: var(--black-color);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  color: #212121;
  background-color: transparent;
}

#leftLink {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.1rem;

  &:hover {
    font-size: 1rem;
    cursor: pointer;
  }
}

#centerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--black-color);

  .centerLink {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1rem;
    opacity: 0.8;

    &:hover {
      font-size: 1.1rem;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

#rightLink {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  font-size: 0.9rem;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  color: var(--white-color);
  border-radius: 6px;

  &:hover {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
}
